@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: Montserrat;
    margin: 0;
}

nav {
    position: fixed;
    width: 100vw;
    background-color: #ffff;
}

nav .all-navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
}

nav a {
    text-decoration: none;
}

nav .logo {
    color: #fc724d;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    word-wrap: break-word;
    cursor: pointer;
    text-decoration: none;
}

nav .logo:hover {
    color: #d63a0f;
}

nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: rgba(115, 115, 115, 1);
}

nav ul li {
    cursor: pointer;
}

nav .buttons {
    display: flex;
    gap: 12px;
    align-items: center;
}

nav .buttons .login {
    color: #fc724d;
    font-size: 14px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.2px;
    word-wrap: break-word;
    padding: 0px 15px;
    width: 60px;
    text-align: center;
}

nav .buttons .login:hover {
    background-color: #fc724d;
    border: transparent;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.2px;
}

nav .buttons .register button {
    min-width: 100px;
    padding: 0px 15px;
    background-color: #fc724d;
    border: transparent;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    gap: 8px;
}

nav .buttons .register button:hover {
    background-color: #d63a0f;
}

nav .buttons .register button h3 {
    text-transform: capitalize;
    color: white;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2px;
    white-space: nowrap;
}

nav .buttons .register button .arrow {
    width: 30px;
    height: 30px;
    color: white;
    font-weight: 500;
}

nav .buttons .person {
    width: 25px;
    height: 30px;
    color: white;
    font-weight: 500;
}

nav .buttons .burger {
    display: none;
}

nav .mobile-menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 5vw;
    background-color: #fff;
    border: 1px solid #d63a0f;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav .mobile-list{
    display: none;
}

nav .mobile-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

nav .mobile-menu.show {
    display: block;
}

@media (max-width: 800px) {
    nav {
        padding: 0px;
        width: 100vw;
    }

    nav .all-navbar {
        padding: 6px 35px;
    }

    nav ul {
        display: none;
    }

    nav .buttons .burger {
        display: block;
        width: 30px;
        height: 30px;
        color: #fc724d;
    }

    nav .buttons .login {
        display: none;
    }

    nav .buttons .register {
        display: none;
    }

    nav .mobile-menu.show {
        display: block;
    }
    nav .mobile-list{
        padding: 10px;
        margin: 0px;
        display: block;
    }
}
