.detailScholar{
    padding-top: 80px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-left: 80px;
    margin-right: 80px;
    

}

.detailScholar .header-gambar img{
    width: 500px;
    height: 600px;
    opacity: 50%;
    background: 
    linear-gradient(to right, rgba(0, 0, 0, 0.02) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 1px, transparent 1px);

}

.detailScholar .konten-kontainer .kategori p{
    color: grey;
}

.detailScholar .konten-kontainer .deskripsi p{
    text-align: justify;
}

.detailScholar .konten-kontainer .penyelenggara p{
    font-weight: bold;
}

.detailScholar .konten-kontainer .tanggal-mulai p{
    font-weight: bold;
}

.detailScholar .konten-kontainer .tanggal-selesai p{
    font-weight: bold;
}


