body {
    background-image: url("https://drive.google.com/uc?id=16fqIhDB1wQw_2g4yzbePoeawo9l1friH");
    background-size: cover;
    background-repeat: no-repeat;
}

/*content----------------------------------------------------------------------------------*/
.createAccount {
    padding: 80px 80px;
    min-height: 80vh;
}

.createAccount .header {
    padding: 32px 80px;
    text-align: center;
    color: white;
}

.createAccount .header h1 {
    font-size: 30px;
}

.createAccount .header p {
    font-size: 20px;
}

.createAccount .form-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.createAccount form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createAccount .left-grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;

}

.createAccount .form-group {
    display: flex;
    gap: 3px;
    flex-direction: column;
}

.createAccount .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

.createAccount .form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #969393;
}

.createAccount .button-container {
    text-align: center;

    margin-top: 9px;
}

.createAccount .form-group .description-textarea {
    width: 100%;
    height: 190px;
    padding: 5px;
    box-sizing: border-box;
}

.createAccount .right-grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.createAccount .button-container button {
    background: linear-gradient(to right, #6e7b8b, #cd9d45, #6e7b8b);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 20px;
    float: right;
}

.createAccount .right-grid .button-container button:hover {
    background: linear-gradient(to right, #be66be, #ffa500, #be66be);
}



@media screen and (max-width: 900px){
    .editAccount {
        padding: 80px 35px;
    }
    .editAccount .header {
        padding: 10px 35px;
    }
    .editAccount .header h1 {
        font-size: 26px;
    }
    .editAccount .header p {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px){
    .editAccount {
        padding: 70px 40px;
     
    }
    .editAccount .header {
        padding: 20px 40px;
    }
    .editAccount .header {
        padding: 25px 20px;
    }
    .editAccount .header h1 {
        font-size: 20px;
    }

    .editAccount .header p {
        font-size: 12px;
    }
    .editAccount .container-grid {
        display: grid;
        grid-template-columns: 1fr;
        
    }

    .editAccount .form-group label {
        margin-bottom: 3px;
        font-size: 12px;
    }

    .editAccount .form-group .description-textarea {
        height: 130px;
    }
    .editAccount .form-group input,
    .form-group textarea, .form-group select {
    padding: 8px;
    height : 34px;
}

    .editAccount input[type="text"],
    .editAccount input[type="date"],
    .editAccount select{
        font-size: 10px; 
    }
    .editAccount .container-grid .right-grid .button-container button {
       
        padding: 8px 18px;
        font-size: 12px;
    
    }

}