body {
    background-image: url("https://drive.google.com/uc?export=view&id=1wdfpOCnNSD1Zsc9lG5SWWIKhkZof3MMG");
    background-size: cover;
    background-repeat: no-repeat;
}

/*Content----------------------------------------------------------------------------------*/
.showScholar {
    padding: 80px 80px;
    min-height: 80vh;
}

.showScholar .text {
    display: flex;
    flex-direction: column;
    padding: 86px 0px 16px 0px;
}

.showScholar .header h1 {
    color: rgba(15, 14, 14, 0.858);
}

/*Button Add Beasiswa*/
.showScholar .add {
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 100%;
    background-color: #fc724d;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    margin-right: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.showScholar .add:hover {
    background-color: #d63a0f;
}

.showScholar .header {
    display: flex;
    align-items: center;
}

.showScholar .heading {
    margin: 0;
    margin-right: 20px;
}

.showScholar .tableCon {
    border-radius: 12px;
}

.showScholar .tableCon .custom {
    margin-bottom: 35px;
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    background-color: #fc724d;
    color: #fff;
    border-radius: 12px;
}

.showScholar .tableCon .custom thead {
    border-radius: 12px;
}

.showScholar .tableCon .custom thead tr {
    border-radius: 12px;
}

.showScholar .tableCon .custom td {
    width: 14%;
    padding: 10px;
    text-align: left;
}

.showScholar .tableCon .custom th {
    width: 10%;
    padding: 14px 10px;
    border-radius: 12px;
    text-align: center;
}

.showScholar .tableCon .row {
    border: 1px solid #fc724d;
    background-color: #ffff;
    font-size: 13px;
    color: #333;
}

.btn-group {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.showScholar .btn.edit,
.btn.delete {
    font-size: 12px;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.showScholar .btn.edit {
    border: 2px solid #c51224;
    color: #c51224;
}

.showScholar .btn.delete {
    border: 2px solid #c51224;
    background-color: #c51224;
    color: #fff;
}

.showScholar .btn.edit:hover {
    background-color: #c51224;
    color: #fff;
}

.showScholar .btn.delete:hover {
    background-color: #fff;
    color: #c51224;
}

@media screen and (max-width: 900px) {
    .showScholar {
        padding: 25px;
    }

    .showScholar .header h1 {
        font-size: 22px;
    }

    .showScholar .tableCon .custom,
    .showScholar .tableCon {
        overflow-x: auto;
        width: calc(100vw-40px);
    }

    .showScholar .add {
        font-size: 20px;
        padding: 8px 15px;

    }
}
